<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create Patient</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container mt-4">
    <h1>Patients Listing</h1>


    <table class="table table-sm table-bordered ">
        <thead class="thead-dark">

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th> </th>
            <th scope="col" colspan="3">Action</th>
        </tr>

        </thead>

        {{range .}}
            <tbody id="myTable">

            <tr>
                <td>{{.Patient_id}}</td>
                <td>{{.Name}}</td>
                <td>{{.Lastname}}</td>
                <td>{{.Gender}}</td>
                <td>{{.Age}}</td>
                <td><a class="action" href="/patient/show?id={{.Patient_id}}">View</a></td>
                <td><a class="action" href="/patient/update?id={{.Patient_id}}">Edit</a></td>
                <td><a class="action" href="/patient/delete/process?id={{.Patient_id}}">Delete</a></td>
            </tr>
            </tbody>
        {{end}}
    </table>
</div>
<script src="" async defer></script>
</body>
</html>